.sponsors {
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
    --columns: 12;
    --width: 12;
    gap: 40px;

    --width: 12;
    --gap-constant: 0.3%;
    --initialbasis: calc(var(--width, 0) / var(--columns, 12) * 100%);
    --gap: calc((var(--columns, 12) - var(--width, 0)) * var(--gap-constant, 0.3%));
    flex-basis: calc(var(--initialbasis) - var(--gap));

  &__item {
    --width: 12;
    --gap-constant: 0.3%;
    --initialbasis: calc(var(--width, 0) / var(--columns, 12) * 100%);
    --gap: calc((var(--columns, 12) - var(--width, 0)) * var(--gap-constant, 0.3%));
    flex-basis: calc(var(--initialbasis) - var(--gap));
    display: flex;
    justify-content: center;
  }

  &__img {
    width: auto;
    max-width: 100%;
    max-height: 47px;
  }

  @media screen and (min-width: 992px) {
    gap: 0;
    
    &__item {
      --width: 3;
    }
  }
}