.menu {
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding: 0; }
  .menu__link {
    font-size: 1.6rem;
    display: block;
    text-decoration: none;
    letter-spacing: 2px;
    color: #ffffff; }
  .menu__item {
    margin: 20px 0 0 0; }

@media screen and (min-width: 776px) {
  .menu {
    box-shadow: none;
    width: auto;
    margin: 0;
    color: #ffffff;
    display: flex;
    gap: 20px; }
    .menu__item {
      display: inline-block;
      margin: 0;
      border: none; }
    .menu__link {
      color: #ffffff;
      display: block;
      font-size: 1.8rem; }
      .menu__link:hover {
        color: #e2e2e2; } }

.page-header {
  background: #5050d6; }
  .page-header__title {
    font-family: 'Fjalla One', sans-serif; }
  .page-header__title, .page-header__copy {
    color: #ffffff;
    text-align: center; }
  .page-header__title {
    font-family: 'Lobster', cursive;
    font-size: 8rem;
    font-weight: 700;
    margin: 0; }
  .page-header__title-wrap {
    display: flex;
    flex-direction: column;
    padding: 15% 0; }
  .page-header__copy {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0 10px; }
  .page-header__cta {
    font-size: 2.4rem;
    color: #ffffff; }
  .page-header__page-nav {
    padding: 10px 0 0 0; }
  .page-header__nav-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    transition: background-color 300ms linear; }
    .page-header__nav-wrap--floating {
      background: #000000e7; }

@keyframes showNav {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: calc(calc((12 / 12) * 100%) - calc((12 - 12) * 0.3%)); }
  .page-nav__toggler {
    border: none;
    background: none;
    width: 35px;
    height: 30px;
    cursor: pointer;
    padding: 25px 0; }
  .page-nav__toggler-icon, .page-nav__toggler-icon::before, .page-nav__toggler-icon::after {
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: "";
    transition: 0.5s; }
  .page-nav__toggler-icon::before {
    top: -12px; }
  .page-nav__toggler-icon::after {
    top: 12px; }
  .page-nav__toggler-icon--active {
    background: rgba(0, 0, 0, 0); }
    .page-nav__toggler-icon--active::before {
      top: 0;
      transform: rotate(45deg); }
    .page-nav__toggler-icon--active::after {
      top: 0;
      transform: rotate(135deg); }
  .page-nav__toggler-label, .page-nav__label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; }
  .page-nav__logo {
    padding: 20px 0; }

.page-nav__menu {
  display: none; }
  .page-nav__menu--open {
    display: block;
    position: relative;
    animation: showNav 250ms ease-in-out both;
    background: #5050d6; }
    .page-nav__menu--open::before {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: -100px;
      width: 200vw;
      height: 1px;
      background: #ffffff3d;
      overflow: hidden; }

@media screen and (min-width: 776px) {
  .page-nav {
    justify-content: space-between;
    background: none;
    box-shadow: none; }
    .page-nav__toggler {
      display: none; }
    .page-nav__menu {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      box-shadow: none; }
      .page-nav__menu--open::before {
        display: none; } }

.logo {
  display: flex;
  align-items: center;
  gap: 10px; }
  .logo__company {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #ffffff; }

.button {
  display: inline-block;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 2px;
  padding: 15px; }
  .button--center {
    margin: 0 auto; }
  .button--large {
    padding: 1.4rem 2.2rem;
    border-radius: 4px; }
  .button--section {
    border-color: #1763e9;
    color: #1763e9; }

.section {
  padding: 60px 0; }
  .section__heading, .section__paragraph {
    --width: 12;
    --gap-constant: 0.3%;
    --initialbasis: calc(var(--width, 0) / var(--columns, 12) * 100%);
    --gap: calc((var(--columns, 12) - var(--width, 0)) * var(--gap-constant, 0.3%));
    flex-basis: calc(var(--initialbasis) - var(--gap)); }
  .section__heading {
    font-family: 'Lobster', cursive;
    font-size: calc(calc(calc(calc(calc(1em * 1.333) * 1.333) * 1.333) * 1.333) * 1.333);
    font-weight: 700;
    color: #1763e9;
    text-align: center;
    margin: 0; }
    .section__heading::after {
      content: "...";
      color: #1763e9;
      display: block;
      letter-spacing: .5rem;
      margin-top: -25px; }
  .section__paragraph {
    font-size: 1.8rem;
    color: #838383;
    text-align: center;
    line-height: 1.6; }
  .section--text {
    --width: 12;
    --gap-constant: 0.3%;
    --initialbasis: calc(var(--width, 0) / var(--columns, 12) * 100%);
    --gap: calc((var(--columns, 12) - var(--width, 0)) * var(--gap-constant, 0.3%));
    flex-basis: calc(var(--initialbasis) - var(--gap)); }
  @media screen and (min-width: 992px) {
    .section__heading, .section__paragraph {
      --width: 8; } }

.project-card__img-wrap, .project-card__card-wrap {
  --gap-constant: 0.3%;
  --initialbasis: calc(var(--width, 0) / var(--columns, 12) * 100%);
  --gap: calc((var(--columns, 12) - var(--width, 0)) * var(--gap-constant, 0.3%));
  flex-basis: calc(var(--initialbasis) - var(--gap)); }

.project-card__img {
  width: 100%; }

.project-card__img-wrap {
  --width: 12;
  max-width: 100%; }

.project-card__title {
  font-size: calc(calc(calc(calc(1em * 1.333) * 1.333) * 1.333) * 1.333); }

.project-card__paragraph {
  font-size: 1.6rem;
  color: #838383;
  margin: 0; }

.project-card__card-wrap {
  --width: 11; }

.project-card__title-wrap {
  display: flex;
  justify-content: space-between; }

.project-card__nav-wrap {
  display: flex;
  gap: 10px;
  align-items: center; }

.project-card__button {
  color: #1763e9;
  font-size: 1.6rem;
  margin-top: 20px; }

.project-card__nav-button {
  border: 0;
  background: 0;
  color: #1763e9;
  font-weight: 700;
  font-size: 3rem; }

@media screen and (min-width: 992px) {
  .project-card__img-wrap {
    --width: 10; }
  .project-card__card-wrap {
    --width: 7;
    justify-self: left;
    margin-left: auto;
    margin-top: -200px;
    background: #ffffff;
    padding: 50px;
    box-shadow: -4px 4px 10px #66666654; } }

.partners {
  padding: 0;
  margin: 20px 0 0 0;
  list-style: none;
  --columns: 12;
  gap: 40px; }
  .partners__item {
    --width: 12;
    --gap-constant: 0.3%;
    --initialbasis: calc(var(--width, 0) / var(--columns, 12) * 100%);
    --gap: calc((var(--columns, 12) - var(--width, 0)) * var(--gap-constant, 0.3%));
    flex-basis: calc(var(--initialbasis) - var(--gap));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .partners__name {
    font-weight: 700;
    font-size: calc(calc(calc(1em * 1.333) * 1.333) * 1.333);
    margin: 10px 0 0 0; }
  .partners__role, .partners__desc {
    color: #838383;
    font-size: 1.8rem;
    line-height: 1.4;
    text-align: center;
    margin: 5px 0; }
  .partners__socials {
    margin-top: 10px; }
  @media screen and (min-width: 992px) {
    .partners {
      gap: 0; }
      .partners__item {
        --width: 4; } }

.socials {
  display: flex;
  justify-content: center;
  gap: 5px;
  list-style: none;
  padding: 0; }

.sponsors {
  padding: 0;
  margin: 20px 0 0 0;
  list-style: none;
  --columns: 12;
  --width: 12;
  gap: 40px;
  --width: 12;
  --gap-constant: 0.3%;
  --initialbasis: calc(var(--width, 0) / var(--columns, 12) * 100%);
  --gap: calc((var(--columns, 12) - var(--width, 0)) * var(--gap-constant, 0.3%));
  flex-basis: calc(var(--initialbasis) - var(--gap)); }
  .sponsors__item {
    --width: 12;
    --gap-constant: 0.3%;
    --initialbasis: calc(var(--width, 0) / var(--columns, 12) * 100%);
    --gap: calc((var(--columns, 12) - var(--width, 0)) * var(--gap-constant, 0.3%));
    flex-basis: calc(var(--initialbasis) - var(--gap));
    display: flex;
    justify-content: center; }
  .sponsors__img {
    width: auto;
    max-width: 100%;
    max-height: 47px; }
  @media screen and (min-width: 992px) {
    .sponsors {
      gap: 0; }
      .sponsors__item {
        --width: 3; } }

.form {
  --width: 12;
  --gap-constant: 0.3%;
  --initialbasis: calc(var(--width, 0) / var(--columns, 12) * 100%);
  --gap: calc(
    (var(--columns, 12) - var(--width, 0)) * var(--gap-constant, 0.3%)
  );
  flex-basis: calc(var(--initialbasis) - var(--gap));
  gap: 20px; }
  .form__wrap {
    margin-top: 20px;
    --width: 8;
    --gap-constant: 0.3%;
    --initialbasis: calc(var(--width, 0) / var(--columns, 12) * 100%);
    --gap: calc(
      (var(--columns, 12) - var(--width, 0)) * var(--gap-constant, 0.3%)
    );
    flex-basis: calc(var(--initialbasis) - var(--gap));
    --columns: 12; }
  .form__label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; }
  .form__input {
    --width: 12;
    --gap-constant: 0.3%;
    --initialbasis: calc(var(--width, 0) / var(--columns, 12) * 100%);
    --gap: calc(
      (var(--columns, 12) - var(--width, 0)) * var(--gap-constant, 0.3%)
    );
    flex-basis: calc(var(--initialbasis) - var(--gap));
    padding: 15px;
    color: #555555;
    border: 1px solid #ddd;
    font-size: 1.8rem; }
    .form__input::placeholder {
      color: #979797; }
  .form__submit {
    font-size: 1.8rem;
    margin-right: auto; }
  .form__contacts {
    margin-top: 20px;
    --width: 12;
    --gap-constant: 0.3%;
    --initialbasis: calc(var(--width, 0) / var(--columns, 12) * 100%);
    --gap: calc(
      (var(--columns, 12) - var(--width, 0)) * var(--gap-constant, 0.3%)
    );
    flex-basis: calc(var(--initialbasis) - var(--gap)); }
  .form__contacts-item {
    font-size: 1.8rem;
    color: #838383; }
  @media screen and (min-width: 992px) {
    .form {
      --width: 6; }
      .form__contacts {
        --width: 5;
        margin: 0; }
      .form__wrap {
        box-shadow: 0 0 9px 4px #d7d7d7;
        padding: 50px; } }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Hind Siliguri', sans-serif; }

*, *::before, *::after {
  box-sizing: border-box; }

.l-container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .l-container {
      width: 750px; } }
  @media (min-width: 992px) {
    .l-container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .l-container {
      width: 1170px; } }

.l-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  --columns: 12; }
  .l-row--between {
    justify-content: space-between; }
  @media (min-width: 992px) {
    .l-row--projects {
      justify-content: space-between; } }
